#d1,#d2,#d3,#d4,#d5A,#d5B,#d6,#d7,#d8,#d9,#d10{background-color: #f1f1eeb9;
    border: 2px solid #555555;
    border-radius: 2px;
    padding: 15px 32px;
    width: 95%;
    display: inline-block;
}

body{background: #c3c4c5;}

button{
    background-color: #555555;
    width: 100%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 4px;
}

button:hover {
    padding: 20px 37px;;
    transition: all 0.25s;
    cursor: pointer;
    }

#code{
    background-color: #6e010a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 2px;
}

#resultat{
    background-color: #013f22;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 2px;
    float: right;
}

#blocc{
    display:inline-block;
    width: 35%;
}

#bloccode{
    background-color: #000000e5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    font-size: 12px;
    font-family: cursive;
    border-radius: 4px;
    
    
}

#blocres{
    display: inline-block;
    float: right;
    width: 35%;
}


#blocresultat{
    background-color: #000000e5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    font-size: 12px;
    font-family: cursive;
    border-radius: 4px;
    float: right;
    display:inline-block;
    width: 100%;
}

#retour{
    background-color: #0d0e4d;
}

p.depuis{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

